twilio~=9.4.4
python-dotenv~=1.0.1
vosk~=0.3.44
uvicorn[standard]~=0.34.0
python-multipart

# Autogen
autogen-agentchat
autogen-ext[openai,web-surfer]

fastapi~=0.115.8
numpy~=1.26.4
pywhispercpp~=1.3.1.dev12+ga484dc2
sounddevice~=0.5.1
pydantic~=2.10.6